.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: inherit;
  /* Match your form's border radius */
}

.modal-content {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  position: relative;
  transform-origin: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #333;
}


.form_group {
  margin-bottom: 30px;
}

.form_group label.sub-title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #193b1e;
  margin-bottom: 12px;
}

/* Button Group Styling */
.button-group {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}


.main-btn.primary-btn {
  background: #193b1e;
  color: #fff;
  padding: 18px 45px;
  transition: all 0.3s ease;
}

.main-btn.secondary-btn {
  background: #ffb966;
  color: #193b1e;
  border: 2px solid #ffb966;
  padding: 18px 45px;
}

.main-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 15px 30px rgba(25, 59, 30, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 991px) {
  .form-container {
    padding: 40px;
  }

  .surancy-pagination {
    gap: 20px;
  }

  .surancy-pagination li:not(:last-child):after {
    width: 20px;
    right: -20px;
  }
}

@media (max-width: 767px) {
  .form-container {
    padding: 30px;
  }

  .button-group {
    flex-direction: column;
  }

  .main-btn {
    width: 100%;
    justify-content: center;
  }
}

















































.method-row {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}

.method-pill {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #e0e3e7;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  min-height: 20px;
}

.method-pill:hover {
  border-color: #193b1e;
  transform: translateY(-2px);
}

.method-pill.selected {
  border-color: #193b1e;
  background: rgba(52, 152, 219, 0.08);
  box-shadow: 0 0 0 1px;
}

.method-pill i {
  font-size: 1rem;
  color: #193b1e;
  margin-bottom: 3px;
}

.method-pill span {
  font-size: 0.85rem;
  font-weight: 300;
  color: #2c3e50;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .payment-columns {
    flex-direction: column;
  }

  .method-row {
    flex-direction: column;
  }

  .method-pill {
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    min-height: auto;
    padding: 0.5rem 0.5rem;
    text-align: left;
  }

  .method-pill i {
    margin-bottom: 0;
    font-size: 1rem;
  }
}