<section class="contact-form-section gray-bg pt-175 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Column: Contact Form Area -->
            <div class="col-xl-6 order-2 order-xl-1 mt-4 mb-4">
                <div class="contact-form-area mb-10 p-r z-1 wow fadeInLeft formSection">
                    <div class="section-title mb-10">
                        <h2>Get Start Insurance</h2>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active show fade" id="dynamicForm">
                            <form class="contact-form" [formGroup]="insuranceForm">
                                <ng-container *ngFor="
                    let field of formFields;
                    let i = index;
                    trackBy: trackByFn
                  ">
                                    <div class="form_group mb-3 " [ngSwitch]="field.type" >
                                        <div *ngIf="
                        field.type !== 'checkbox' && field.type !== 'header'">
                                            <label [attr.for]="field.label">{{ field.label }}</label>
                                        </div>

                                        <!-- Number Input -->
                                        <input *ngSwitchCase="'number'" class="form_control sideLine"
                                            [placeholder]="field.placeholder || ''"
                                            [formControlName]="getFormControlName(field, i)" type="number" />

                                        <!-- Text Input -->
                                        <input *ngSwitchCase="'text'" class="form_control sideLine"
                                            [placeholder]="field.placeholder || ''"
                                            [formControlName]="getFormControlName(field, i)" type="text" />

                                        <!-- Textarea Input -->
                                        <textarea *ngSwitchCase="'textarea'" class="form_control sideLine"
                                            style="min-height: 60px" [placeholder]="field.placeholder || ''"
                                            [formControlName]="getFormControlName(field, i)"></textarea>

                                        <!-- Email Input -->
                                        <input *ngSwitchCase="'email'" class="form_control sideLine"
                                            [placeholder]="field.placeholder || 'example@domain.com'"
                                            [formControlName]="getFormControlName(field, i)" type="email" />

                                        <!-- Telephone Input -->
                                        <input *ngSwitchCase="'tel'" class="form_control sideLine"
                                            [placeholder]="field.placeholder || '+000 (123) 456 887'"
                                            [formControlName]="getFormControlName(field, i)" pattern="[+]?[0-9]+"
                                            type="tel" />

                                        <!-- Date Input -->
                                        <input *ngSwitchCase="'date'" class="form_control sideLine"
                                            [placeholder]="field.placeholder || ''"
                                            [formControlName]="getFormControlName(field, i)" type="date" />

                                        <!-- Time Input -->
                                        <input *ngSwitchCase="'time'" class="form_control sideLine"
                                            [placeholder]="field.placeholder || ''"
                                            [formControlName]="getFormControlName(field, i)" type="time" />

                                        <!-- Color Input -->
                                        <input *ngSwitchCase="'color'" class="form_control sideLine"
                                            [placeholder]="field.placeholder || ''"
                                            [formControlName]="getFormControlName(field, i)" type="color" />

                                        <!-- Select Dropdown -->
                                        <div *ngSwitchCase="'select'" style="margin-bottom: 8px " >
                                            <select class="wide nice-select " style="margin-bottom: 20px"
                                                [formControlName]="getFormControlName(field, i)">
                                                <option value="" disabled selected>
                                                    Select Settlement Plan
                                                </option>
                                                <option *ngFor="let option of field.selectOptions" [value]="option">
                                                    {{ option }}
                                                </option>
                                            </select>
                                        </div>

                                        <!-- Range Input -->
                                        <div *ngSwitchCase="'range'" class="single-progress-bar progress-style-one">
                                            <input type="range" class="form_control" [min]="field.rangeStart"
                                                [max]="field.rangeEnd"
                                                [formControlName]="getFormControlName(field, i)" />
                                            <div class="range-values check-list">
                                                <span>{{ field.rangeStart }}</span>
                                                <span>{{ field.rangeEnd }}</span>
                                            </div>
                                        </div>

                                        <!-- Checkbox Group -->

                                        <div *ngSwitchCase="'checkbox'" class="check-list flex items-center gap-2">
                                            <input type="checkbox" [formControlName]="getFormControlName(field, i)"
                                                class="w-4 h-4" />
                                            <label class="text-sm">{{ field.label }}</label>
                                        </div>

                                        <!-- Radio Buttons -->
                                        <div *ngSwitchCase="'radio'" class="radio-group">
                                            <label *ngFor="let option of field.selectOptions" class="radio-label">
                                                <input type="radio" [formControlName]="getFormControlName(field, i)"
                                                    [value]="option" />
                                                <span>{{ option }}</span>
                                            </label>
                                        </div>

                                        <!-- Validation Errors -->
                                        <div *ngIf="
                        insuranceForm.controls[getFormControlName(field, i)]
                          .invalid &&
                        (insuranceForm.controls[getFormControlName(field, i)]
                          .touched ||
                          insuranceForm.controls[getFormControlName(field, i)]
                            .dirty)
                      " class="validation-error text-danger">
                                            <span
                                                *ngIf="insuranceForm.controls[getFormControlName(field, i)].errors?.['required']">
                                                This field is required
                                            </span>
                                            <span
                                                *ngIf="insuranceForm.controls[getFormControlName(field, i)].errors?.['pattern']">
                                                {{ field.regexErrorMessage }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>

                                <div class="form_group">
                                    <button type="submit" class="main-btn primary-btn" [disabled]="isLoading"
                                        (click)="onSubmit()">
                                        <span *ngIf="!isLoading">Submit <i class="fa fa-arrow-right"></i></span>
                                        <span *ngIf="isLoading">
                                            <i class="fa fa-spinner fa-spin"></i> Loading...
                                        </span>
                                    </button>
                                    <div *ngIf="!insuranceForm.valid && notValid"
                                        class="validation-error text-danger ms-1 mt-2">
                                        <span style="font-size: 18px">
                                            One or more fields have an error. Please check and try
                                            again.
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column: Consultation Info -->
            <div class="col-xl-6 order-1 order-xl-2 green-bg sideSection">
                <div class="heading-section mb-4">
                    <div class="sub-title-wrapper mb-2">
                        <div class="section-title mb-1">
                            <span class="sub-title" style="color: white">Consultations</span>
                        </div>
                    </div>
                    <h2 class="title text-white mb-3">
                        Learn Insurance Solutions With Our Professionals
                    </h2>
                    <p class="text-white opacity-85 px-lg-5 mt-3 mb-4">
                        At vero eos et accusamus et iusto odio dignissimos ducimus
                        blanditiis praesentium voluptatum deleniti atque
                    </p>
                </div>
                <div class="progress-section w-100 mb-2 prog-bar-font">
                    <div class="d-flex justify-content-between mb-4">
                        <p class="progress-title text-white mb-0">Client Satisfactions</p>
                        <span class="progress-percentage text-white">95%</span>
                    </div>
                    <div class="single-progress-bar progress-style-one">
                        <div class="progress">
                            <div class="progress-bar" style="width: 95%"></div>
                        </div>
                    </div>
                </div>
                <div class="single-phone-item mb-4">
                    <div class="icon"><i class="fa-solid fa-phone-flip"></i></div>
                    <div class="info-content">
                        <div class="info-label text-white">Emergency Call</div>
                        <a href="tel:+1234567890" class="info-number text-white">+1 (234) 567-890</a>
                    </div>
                </div>
                <!-- Contact Image Box -->
                <div class="contact-image-box text-center text-xl-right mb-50 wow fadeInRight">
                    <img src="assets/images/service/Money_Pig.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>