<div class="container-fluid">
    <!-- start page title -->
    <app-page-title title="Form Layouts" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <div class="row g-4">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0">
                <app-offer-creator  (offerCreationEvent)="recieveOfferData($event)" [categoryData]="categoriesData"></app-offer-creator>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="card shadow-lg border-0">
                <app-form-creator (offerFormCreationEvent)="recieveOfferFormData($event)" ></app-form-creator>
            </div>
        </div>
    </div>
</div>
