<app-preloader></app-preloader>
<app-popup
  [title]="popupTitle"
  [message]="popupMessage"
  [showPopup]="showPopup"
  (close)="onPopupClose()">
</app-popup>

<section class="blog-details-section pt-130 pb-100" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
  <div class="container" style="display: flex; justify-content: center;">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center mb-50 wow fadeInDown">
            <span class="sub-title">Complaints</span>
            <h2>Your Concerns, Our Commitment</h2>
          </div>
        </div>
      </div>
      <div class="col-xl-8" style="margin: auto;">
        <div class="blog-details-wrapper">
          <div class="blog-post mb-20 wow fadeInUp">
            <div class="post-meta">
              <span><i class="far fa-calendar-alt" ></i> {{ complaint?.createdAt | date }}</span>
              <span><a class="test" href="#">{{ complaint?.complaintType }}</a></span>
            </div>
            <div class="main-post">
              <div class="entry-content">
                <h3 class="title">{{ complaint.title }}</h3>
              </div>


              <div class="comments-area mb-50 wow fadeInUp">
                <h5 class="comments-title mb-40">Popular Comments</h5>
                <ul class="comments-list" *ngFor="let i of responses">
                  <li>
                    <div class="comment" *ngIf="complaint?.userId !== i.responderId">
                      <div class="comment-avatar">
                        <img src="../../../assets/images/blog/comment-1.jpg" alt="comment author">
                      </div>
                      <div class="comment-wrap" >
                        <div class="comment-author-content">
                          <span class="author-name">Admin<span class="date">{{i.createdAt | date}}</span></span>
                          <p>{{i.responseDescription}}</p>
<!--                          <a href="#" class="btn-link">Reply<i class="far fa-arrow-right"></i></a>-->
                        </div>
                      </div>
                    </div>
                    <ul class="comment-reply" *ngIf="complaint?.userId === i.responderId">
                      <li>
                        <div class="comment">
                          <div class="comment-avatar">
                            <img src="../../../assets/images/blog/comment-2.jpg" alt="comment author">
                          </div>
                          <div class="comment-wrap">
                            <div class="comment-author-content">
                              <span class="author-name">Latifa Ben zaied<span class="date">{{i.createdAt | date }}</span></span>
                              <p>{{i.responseDescription}}</p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>

                </ul>
              </div>

              <!--=== Comments Form ===-->
              <div class="comments-respond mb-30 wow fadeInUp" id="comment-respond">
                <h3 class="comments-heading">Leave a Response</h3>
                <p>Send us your valuable feedback about our services</p>
                <form [formGroup]="responseForm" (ngSubmit)="saveResponse()" [ngClass]="{'disabled-form': complaint.complaintStatus === 'RESOLVED'}">
                  <div class="form-group">
                    <textarea formControlName="responseDescription" class="form-control" rows="4" placeholder="Write your response here"></textarea>
                    <div *ngIf="responseForm.get('responseDescription')?.invalid && responseForm.get('responseDescription')?.touched" class="text-danger">
                      This field is required.
                    </div>
                    <div *ngIf="complaint.complaintStatus === 'RESOLVED'" class="text-danger mt-2">
                      You cannot submit a response because the status is 'Resolved'.
                    </div>
                  </div>
                  <button type="submit"
                          class="main-btn secondary-btn test"
                          [disabled]="complaint.complaintStatus=== 'RESOLVED' || responseForm.invalid"
                  >Submit Response</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta-section cta_area-two gray-bg pt-145 pb-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <!--=== CTA Content Box ===-->
        <div class="cta_one-content-box mb-40">
          <h2>Find Your Insurance
            Agent! Say Hello</h2>
          <a href="contact.html" class="main-btn primary-btn">Track Claim<i class="far fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6">
        <!--=== CTA Image ===-->
        <div class="cta_image-one float-xl-end p-r z-1 mb-40">
          <div class="shape"><span><img src="../../../assets/images/gallery/experience.png" alt=""></span></div>
          <img src="../../../assets/images/gallery/cta-2.jpg" alt="CTA Image">
        </div>
      </div>
    </div>
  </div>
  <!--=== Start Animate Headline ===-->
  <div class="animate-headline">
    <div class="headline-text">
      <div class="animate-text">
        <span class="text">Insurance Agent</span>
      </div>
    </div>
    </div><!--=== End Animate Headline ===-->
</section>
