<div class="container-fluid">
  <app-page-title
    title="Blog Grid"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-9 col-lg-8">
      <div class="card">
        <!-- Nav tabs -->
        <ul
          ngbNav
          #nav="ngbNav"
          [activeId]="1"
          class="nav-tabs nav-tabs-custom justify-content-center pt-2"
        >
          <li [ngbNavItem]="1">
            <a ngbNavLink> Claim </a>
            <ng-template ngbNavContent>
              <div>
                <div class="row justify-content-center">
                  <div class="col-xl-8">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="pt-3">
                              <div class="row justify-content-center">
                                <div class="col-xl-8">
                                  <div>
                                    <div class="text-center">
                                      <div class="mb-4"></div>
                                      <h4>{{ claim.title }}</h4>
                                      <p class="text-muted mb-4">
                                        <i class="mdi mdi-calendar me-1"></i>
                                        {{ claim.submitDate | date : "medium" }}
                                      </p>
                                    </div>

                                    <hr />
                                    <div class="text-center">
                                      <div class="row">
                                        <div class="col-sm-4">
                                          <div>
                                            <p class="text-muted mb-2">
                                              Incident Type
                                            </p>
                                            <h5 class="font-size-15">
                                              {{ claim.incidentType.name }}
                                            </h5>
                                          </div>
                                        </div>
                                        <div class="col-sm-4">
                                          <div class="mt-4 mt-sm-0">
                                            <p class="text-muted mb-2">
                                              Incident Date
                                            </p>
                                            <h5 class="font-size-15">
                                              {{
                                                claim.incidentDate
                                                  | date : "dd-MM-YYYY HH:MM"
                                              }}
                                            </h5>
                                          </div>
                                        </div>
                                        <div class="col-sm-4">
                                          <div class="mt-4 mt-sm-0">
                                            <p class="text-muted mb-2">
                                              Client Name
                                            </p>
                                            <h5 class="font-size-15" *ngIf="loggedUser!=null">
                                              {{loggedUser.firstname}} {{loggedUser.lastname}}
                                              
                                            </h5>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <hr />

                                    <div class="mt-4">
                                      <div class="text-muted font-size-14">
                                        <p>
                                          {{ claim.description }}
                                        </p>

                                        <!--<blockquote
                                          class="p-4 border-light border rounded mb-4"
                                        >
                                          <div class="d-flex">
                                            <div class="me-3">
                                              <i
                                                class="bx bxs-quote-alt-left text-dark font-size-24"
                                              ></i>
                                            </div>
                                            <div>
                                              <p class="mb-0">
                                                At vero eos et accusamus et
                                                iusto odio dignissimos ducimus
                                                qui blanditiis praesentium
                                                deleniti atque corrupti quos
                                                dolores et quas molestias
                                                excepturi sint quidem rerum
                                                facilis est
                                              </p>
                                            </div>
                                          </div>
                                        </blockquote>

                                        <p>
                                          Itaque earum rerum hic tenetur a
                                          sapiente delectus, ut aut reiciendis
                                          voluptatibus maiores alias consequatur
                                          aut perferendis doloribus asperiores
                                          repellat. Sed ut perspiciatis unde
                                          omnis iste natus error sit
                                        </p>

                                        <div class="mt-4">
                                          <h5 class="mb-3">Title:</h5>

                                          <div>
                                            <div class="row">
                                              <div class="col-lg-4 col-sm-6">
                                                <div>
                                                  <ul class="ps-4">
                                                    <li class="py-1">
                                                      Donec sodales sagittis
                                                    </li>
                                                    <li class="py-1">
                                                      Sed consequat leo eget
                                                    </li>
                                                    <li class="py-1">
                                                      Aliquam lorem ante
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                              <div class="col-lg-4 col-sm-6">
                                                <div>
                                                  <ul class="ps-4">
                                                    <li class="py-1">
                                                      Aenean ligula eget
                                                    </li>
                                                    <li class="py-1">
                                                      Cum sociis natoque
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      --></div>

                                      <hr />

                                      <div class="mt-5">
                                        <h5 class="font-size-15">
                                          <i
                                            class="bx bx-message-dots text-muted align-middle me-1"
                                          ></i>
                                          Replies :
                                        </h5>

                                        <div>
                                          <div
                                            *ngFor="
                                              let response of claim.responses
                                            "
                                            class="media py-3 border-top"
                                          >
                                            <div class="avatar-xs me-3">
                                              <img
                                                src="assets/images/users/avatar-2.jpg"
                                                alt=""
                                                class="img-fluid d-block rounded-circle"
                                              />
                                            </div>
                                            <div class="media-body">
                                              <h5 class="font-size-16 mb-1" >
                                                <div *ngIf="response.user!=null">
                                                  {{ response.user.firstname }}
                                                  {{ response.user.lastname }}
                                                </div>
                                               
                                                <small
                                                  class="text-muted float-end"
                                                  style="font-size: 12px"
                                                  >{{
                                                    response.respondedAt
                                                      | date
                                                        : "dd-MM-YYYY HH:MM"
                                                  }}</small
                                                >
                                              </h5>
                                              <p class="text-muted">
                                                {{ response.response }}
                                              </p>

                                              <!--
                                              <div class="media pt-3">
                                                <div class="avatar-xs me-3">
                                                  <div
                                                    class="avatar-title rounded-circle bg-light text-primary"
                                                  >
                                                    <i class="bx bxs-user"></i>
                                                  </div>
                                                </div>
                                                <div class="media-body">
                                                  <h5 class="font-size-14 mb-1">
                                                    Silvia Martinez
                                                    <small
                                                      class="text-muted float-end"
                                                      >2 hrs Ago</small
                                                    >
                                                  </h5>
                                                  <p class="text-muted">
                                                    To take a trivial example,
                                                    which of us ever undertakes
                                                    laborious physical exercise
                                                  </p>
                                                  <div>
                                                    <a
                                                      href="javascript: void(0);"
                                                      class="text-success"
                                                      ><i
                                                        class="mdi mdi-reply"
                                                      ></i>
                                                      Reply</a
                                                    >
                                                  </div>
                                                </div>
                                              </div> -->
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="mt-4">
                                        <form
                                          [formGroup]="responseForm"
                                          (ngSubmit)="onSubmit()"
                                        >
                                          <div class="mb-3">
                                            <label for="commentmessage-input"
                                              >Message</label
                                            >
                                            <textarea
                                              class="form-control"
                                              id="commentmessage-input"
                                              placeholder="Your message..."
                                              rows="3"
                                              formControlName="response"
                                            ></textarea>
                                          </div>

                                          <div class="text-end">
                                            <button
                                              type="submit"
                                              class="btn btn-success w-sm"
                                            >
                                              Submit
                                            </button>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- end card body -->
                        </div>
                        <!-- end card -->
                      </div>
                      <!-- end col -->
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink> Photos </a>
            <ng-template ngbNavContent>
              <div class="row justify-content-center">
                <div class="col-xl-8">
                  <div>
                    <div class="row align-items-center">
                      <div class="col-4">
                        <div>
                          <h5 class="mb-0">Images</h5>
                        </div>
                      </div>

                      <div class="col-8">
                        <div class="">
                          <ul class="nav nav-pills justify-content-end">
                            <li class="nav-item">
                              <a
                                class="nav-link disabled"
                                href="javascript: void(0);"
                                tabindex="-1"
                                aria-disabled="true"
                                >View :</a
                              >
                            </li>
                            <li
                              class="nav-item nav-link"
                              data-toggle="tooltip"
                              data-placement="top"
                              ngbTooltip="List"
                              (click)="changeDisplay(2)"
                              [ngClass]="imageDisplay == 2 ? 'active' : ''"
                            >
                              <i class="mdi mdi-format-list-bulleted"></i>
                            </li>
                            <li
                              class="nav-item nav-link"
                              data-toggle="tooltip"
                              data-placement="top"
                              ngbTooltip="Grid"
                              (click)="changeDisplay(1)"
                              [ngClass]="imageDisplay == 1 ? 'active' : ''"
                            >
                              <i class="mdi mdi-view-grid-outline"></i>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->

                    <hr class="mb-4" />

                    <div class="row">
                      <div
                        *ngFor="let image of claim.images; let i = index"
                        [ngClass]="imageDisplay == 1 ? 'col-sm-6' : 'col-sm-12'"
                      >
                        <div class="card p-1 border shadow-none">
                          <div class="position-relative">
                            <img
                              src="{{ image }}"
                              alt=""
                              class="img-thumbnail"
                            />
                          </div>
                          <div class="p-3">
                            <ul
                              class="list-inline"
                              *ngIf="loading[i] == 'done'"
                            >
                              <li class="list-item me-3" style="color:#f46a6a">
                                Certainly Damaged Parts:
                                {{ estimated[i].certain.length }}
                              </li>
                              <ul> 
                                  <li *ngFor="let part of estimated[i].certain">{{part.part}} DT : from {{part.estimatedCost.minCost}} to {{part.estimatedCost.maxCost}} DT</li>
                              </ul>
                              <li class="list-item me-3" style="color: #f1b44c">
                                Uncertain Damaged Parts:
                                {{ estimated[i].uncertain.length }}
                              </li>
                              <ul> 
                                <li *ngFor="let part of estimated[i].uncertain">{{part.part}} DT : from {{part.estimatedCost.minCost}} to {{part.estimatedCost.maxCost}} DT</li>
                              </ul>
                            </ul>
                            <div *ngIf="loading[i] == 'done'">
                              <span style="color: #343a40; font-weight: bold">Estimated Total Cost: </span>From {{estimated[i].totalRepairEstimateRange.minCost}}DT To {{estimated[i].totalRepairEstimateRange.maxCost}}DT
                            </div>

                            <div>
                              <button
                                *ngIf="loading[i] == 'notyet'"
                                class="estimate-button"
                                (click)="getCostEstimate(image, i)"
                              >
                                Estimate Repair Cost
                              </button>

                              <div
                                *ngIf="loading[i] == 'loading'"
                                class="spinner-container"
                              >
                                <div class="spinner"></div>
                                <div class="loading-text">Loading...</div>
                              </div>

                              <!-- Place this where you want the confetti to appear -->
                              <div
                                class="completion-animation"
                                *ngIf="loading[i] == 'done'"
                              >
                                <svg class="checkmark" viewBox="0 0 52 52">
                                  <circle
                                    class="checkmark__circle"
                                    cx="26"
                                    cy="26"
                                    r="25"
                                    fill="none"
                                  />
                                  <path
                                    class="checkmark__check"
                                    fill="none"
                                    d="M14.1 27.2l7.1 7.2 16.7-16.8"
                                  />
                                </svg>
                                <div class="completion-text">
                                  Estimation Complete!
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr class="my-4" />
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="p-4"></div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4">
      <div class="card">
        <div class="card-body p-4">
          <div>
            <p class="text-muted">Close Claim</p>

            <ui-switch
              defaultBoColor="#dfdfdf"
              color="#34c38f"
              checked
              class="ms-1"
              [(ngModel)]="isSwitchOn"
              (change)="onSwitchChange($event)"
            ></ui-switch>
          </div>

          <hr class="my-4" />

          <div>
            <p class="text-muted mb-2">Location</p>
            <div id="map" style="width: 100%; height: 300px"></div>
          </div>

          <hr class="my-4" />
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
  <!-- end row -->
</div>
