<div class="container-fluid">
    <!-- start page title -->
    <app-page-title title="Offers List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <div class="row g-4">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img src="assets/images/companies/img-1.png" alt="" class="avatar-sm me-4" />

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Skote Dashboard UI</h5>
                            <p class="text-muted">
                                Separate existence is a myth. For science, music, sport, etc.
                            </p>
                        </div>
                    </div>

                    <h5 class="font-size-15 mt-4">Project Details :</h5>

                    <p class="text-muted">
                        To an English person, it will seem like simplified English, as a
                        skeptical Cambridge friend of mine told me what Occidental is. The
                        European languages are members of the same family. Their separate
                        existence is a myth. For science, music, sport, etc,
                    </p>

                    <div class="text-muted mt-4">
                        <p>
                            <i class="mdi mdi-chevron-right text-primary me-1"></i> To achieve
                            this, it would be necessary
                        </p>
                        <p>
                            <i class="mdi mdi-chevron-right text-primary me-1"></i> Separate
                            existence is a myth.
                        </p>
                        <p>
                            <i class="mdi mdi-chevron-right text-primary me-1"></i> If several
                            languages coalesce
                        </p>
                    </div>

                    <div class="row task-dates">
                        <div class="col-sm-4 col-6">
                            <div class="mt-4">
                                <h5 class="font-size-14">
                                    <i class="bx bx-calendar me-1 text-primary"></i> Start Date
                                </h5>
                                <p class="text-muted mb-0">08 Sept, 2019</p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-6">
                            <div class="mt-4">
                                <h5 class="font-size-14">
                                    <i class="bx bx-calendar-check me-1 text-primary"></i> Due
                                    Date
                                </h5>
                                <p class="text-muted mb-0">12 Oct, 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoding" class="col-xl-4 col-sm-6">
            <div *ngFor="let offer of offersList" class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar-md me-4">
                                <img *ngIf="offer.imageUri" src="{{ offer.imageUri }}"
                                    class="avatar-title rounded-circle bg-light text-danger font-size-16" alt="img" />
                            </div>

                            <div class="media-body overflow-hidden mt-2">
                                <h5 class="text-truncate font-size-18">
                                    <a [routerLink]="['/offer/detail/', offer.offerId]" class="text-dark">{{ offer.name
                                        }}</a>
                                </h5>

                                <div class="text-muted mt-2">
                                    <p>
                                        <i class="mdi mdi-chevron-right text-primary"></i>
                                        {{ offer.category.name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 border-top">
                        <ul class="list-inline mb-0 d-flex align-items-center">
                            <li class="list-inline-item me-3">
                                <span class="badge" [ngClass]="{
                    'bg-success': offer.isActive === true,
                    'bg-danger': offer.isActive === false
                  }">
                                    {{ offer.isActive ? "Active" : "Not Active" }}
                                </span>
                            </li>
                            <li class="list-inline-item me-3" title="Due Date" ngbTooltip="Due Date">
                                <i class="bx bx-calendar me-1"></i>
                                {{ offer.createdAt | date : "dd MMM, YYYY" }}
                            </li>
                            <li class="list-inline-item ms-auto">
                                <a [routerLink]="['/offer/detail/', offer.offerId]"
                                    class="d-flex align-items-center text-primary text-decoration-underline">
                                    Details <i class="mdi mdi-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isLoding" class="row">
            <div class="col-12">
                <div class="text-center my-3">
                    <a href="javascript:void(0);" class="text-success"><i
                            class="bx bx-loader bx-spin font-size-18 align-middle me-2"></i>
                        Loading please wait!
                    </a>
                </div>
            </div>
            <!-- end col-->
        </div>
    </div>
</div>
<!-- container-fluid -->