
.sideSection{
  padding: 1rem 2rem 1rem 1rem !important;
}

.sideSection2{

  height: 47.7rem;
  overflow: auto;
  scrollbar-width: none; 
  background-color: transparent !important;
}


.bg-green {
  background-color: #EAF1F2;
}

.detail-item {
  display: flex;
  gap: 0.5rem; /* Adjust as needed */
}

.detail-item label {
  font-weight: bold;
}


.action-buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.btn-icon {
  width: 32px;
  height: 32px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
}

.btn-buy {
  background-color: #fefbe9;
  color: #ffb966;
}

.btn-buy:hover {
  background-color: #f9f3d0;

}

.btn-delete {
  background-color: #f8d7da;
  color: #dc3545;
}

.btn-delete:hover {
  background-color: #f5c6cb;
}

.accordion-header {
  padding: 12px 20px;
}

.accordion-title {
  margin-right: 15px;
  flex-grow: 1;
}





.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: inherit;
  /* Match your form's border radius */
}

.modal-content {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  position: relative;
  transform-origin: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #333;
}








