  <!--====== Start Footer ======-->
  <footer class="footer-area blue-bg">
    <div class="container">
        <!--=== Footer Widget Area ===-->
        <div class="footer-widget-area pt-70">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget service-nav-widget mb-40 wow fadeInUp">
                        <h4 class="widget-title">Quick Link</h4>
                        <div class="footer-content">
                            <ul class="footer-widget-nav">
                                <li><a href="#">House Insurance</a></li>
                                <li><a href="#">Medical Insurance</a></li>
                                <li><a href="#">Car Insurance</a></li>
                                <li><a href="#">Business Insurance</a></li>
                            </ul>
                            <ul class="footer-widget-nav">
                                <li><a href="#">Travel Insurance</a></li>
                                <li><a href="#">Fire Insurance</a></li>
                                <li><a href="#">Marriage Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget contact-info-widget mb-40 pl-lg-30 wow fadeInUp">
                        <h4 class="widget-title">Contact</h4>
                        <div class="footer-content">
                            <ul>
                                <li>741 New South Head Rd, Triple Bay
                                    SWFW 3148, New York</li>
                                <li><a href="mailto:support@gmail.com">supportmail.com</a></li>
                                <li><a href="tel:+000(123)45688">+000 (123) 456 88</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-newsletter-widget mb-40 pl-lg-100 wow fadeInUp">
                        <h4 class="widget-title">Newsletter</h4>
                        <div class="footer-content">
                            <form class="mb-30">
                                <div class="form_group">
                                    <label><i class="fa fa-paper-plane"></i></label>
                                    <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                                </div>
                            </form>
                            <div class="social-box">
                                <ul class="social-link">
                                    <li><span>Follow Us</span></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== Footer Copyright ===-->
        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-6">
                    <!--=== Footer Text ===-->
                    <div class="footer-text wow fadeInLeft">
                        <p>Copyright 2023, Surancy. All Right Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--=== Footer Nav ===-->
                    <div class="footer-nav float-lg-end wow fadeInRight">
                        <ul>
                            <li><a href="#">Setting & privacy</a></li>
                            <li><a href="#">Faqs</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--====== Back To Top  ======-->