<div class="header">
    <div class="topbar topbar--one">
        <div class="topbar__bg"></div><!-- /.topbar__bg -->
        <div class="container-fluid">
            <div class="topbar__inner">
                <ul class="list-unstyled topbar__info">
                    <li>
                        <div class="topbar__info__icon-box topbar__info__icon--email">
                            <span class="topbar__info__icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <a href="mailto:needhelp@company.com">needhelpcompany.com</a>
                    </li>
                    <li>
                        <div class="topbar__info__icon-box">
                            <span class="topbar__info__icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                        </div>
                        <a href="https://www.google.com/maps">8902 london, 8950018 US.</a>
                    </li>
                </ul><!-- /.list-unstyled topbar__info -->
                <div class="topbar__right">
                    <div class="topbar__social social-links">
                        <a href="https://facebook.com/">
                            <span class="social-links__icon">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </span><!-- /.social-links__icon -->
                        </a>
                        <a href="https://pinterest.com/">
                            <span class="social-links__icon">
                                <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                <span class="sr-only">Pinterest</span>
                            </span><!-- /.social-links__icon -->
                        </a>
                        <a href="https://twitter.com/">
                            <span class="social-links__icon">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </span><!-- /.social-links__icon -->
                        </a>
                        <a href="https://instagram.com/">
                            <span class="social-links__icon">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </span><!-- /.social-links__icon -->
                        </a>
                    </div><!-- /.topbar__social social-links -->
                    <div class="topbar__language">
                        <label class="sr-only" for="language-select-header">select language</label><!-- /.sr-only -->
                        <select class="selectpicker" id="language-select-header">
                            <option value="english">English</option>
                            <option value="arabic">Arabic</option>
                        </select>
                    </div><!-- /.topbar__language -->
                </div><!-- /.topbar__right -->
            </div><!-- /.topbar__inner -->
        </div><!-- /.container-fluid -->
    </div><!-- /.topbar -->

    <header class="main-header main-header--one sticky-header sticky-header--normal" appStickyHeaderClone>
        <div class="container-fluid">
            <div class="main-header__inner">
                <div class="main-header__logo logo-retina">
                    <a href="index.html">
                        <img src="assets/images/logo-dark.png" alt="Insuba HTML" width="212">
                    </a>
                </div><!-- /.main-header__logo -->
                <div class="main-header__right">
                    <div class="mobile-nav__btn mobile-nav__toggler" appMobileNavToggler>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- /.mobile-nav__toggler -->
                    <nav class="main-header__nav main-menu" >
                        <ul class="main-menu__list" appDropdownToggler >


                            <li routerLinkActive="current">
                                <a routerLink="home">Demos</a>
                            </li>


                            <li class="dropdown" routerLinkActive="current" >
                                <a href="insurance" >Insurance</a>
                                <ul>
                                    <li routerLinkActive="current"><a routerLink="insurance">Our Insurance</a></li>
                                    <li routerLinkActive="current"><a href="insurance-carousel.html">Insurance Carousel</a></li>
                                    <li routerLinkActive="current"><a href="insurance-d-car-insurance.html">Car Insurance</a></li>
                                    <li routerLinkActive="current"><a href="insurance-d-life-insurance.html">Life Insurance</a></li>
                                    <li routerLinkActive="current"><a href="insurance-d-business-insurance.html">Business Insurance</a></li>
                                    <li routerLinkActive="current"><a href="insurance-d-healthy-insurance.html">Healthy Insurance</a></li>
                                    <li routerLinkActive="current"><a href="insurance-d-home-insurance.html">Home Insurance</a></li>
                                    <li routerLinkActive="current"><a href="insurance-d-finance-insurance.html">Finance Insurance</a></li>
                                </ul>
                            </li>

                            <li class="dropdown" routerLinkActive="current">
                                <a href="#" >Services </a>
                                <ul>
                                    <li routerLinkActive="current"><a href="services.html">Our Services 01</a></li>
                                    <li routerLinkActive="current"><a href="services-2.html">Our Services 02</a></li>
                                    <li routerLinkActive="current"><a href="services-3.html">Our Services 03</a></li>
                                    <li routerLinkActive="current"><a href="services-4.html">Our Services 04</a></li>
                                    <li routerLinkActive="current"><a href="services-carousel.html">Services Carousel 01</a></li>
                                    <li routerLinkActive="current"><a href="services-carousel-2.html">Services Carousel 02</a></li>
                                    <li routerLinkActive="current"><a href="services-carousel-3.html">Services Carousel 03</a></li>
                                    <li routerLinkActive="current"><a href="services-carousel-4.html">Services Carousel 04</a></li>
                                    <li routerLinkActive="current"><a href="service-d-car-insurance.html">Car Insurance</a></li>
                                    <li routerLinkActive="current"><a href="service-d-life-insurance.html">life insurance</a></li>
                                    <li routerLinkActive="current"><a href="service-d-business-insurance.html">Business Insurance</a></li>
                                    <li routerLinkActive="current"><a href="service-d-healthy-insurance.html">Healthy Insurance</a></li>
                                    <li routerLinkActive="current"><a href="service-d-home-insurance.html">Home Insurance</a></li>
                                    <li routerLinkActive="current"><a href="service-d-finance-insurance.html">Finance Insurance</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" routerLinkActive="current">
                                <a href="#" >Pages </a>
                                <ul>
                                    <li>
                                        <a href="about.html">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" >Our Team</a>
                                        <ul>
                                            <li><a href="team.html">Our Team 01</a></li>
                                            <li><a href="team-2.html">Our Team 02</a></li>
                                            <li><a href="team-3.html">Our Team 03</a></li>
                                            <li><a href="team-carousel.html">Team Carousel 01</a></li>
                                            <li><a href="team-carousel-2.html">Team Carousel 02</a></li>
                                            <li><a href="team-carousel-3.html">Team Carousel 03</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown" routerLinkActive="current">
                                        <a href="#" >Our Portfolio</a>
                                        <ul>
                                            <li routerLinkActive="current"><a href="portfolio.html">Our Portfolio 01</a></li>
                                            <li routerLinkActive="current"><a href="portfolio-2.html">Our Portfolio 02</a></li>
                                            <li><a href="portfolio-carousel.html">Portfolio Carousel 01</a></li>
                                            <li><a href="portfolio-carousel-2.html">Portfolio Carousel 02</a></li>
                                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" routerLinkActive="current">
                                        <a href="#" >Our Testimonials</a>
                                        <ul>
                                            <li routerLinkActive="current"><a href="testimonials.html">Our Testimonials 01</a></li>
                                            <li routerLinkActive="current"><a href="testimonials-2.html">Our Testimonials 02</a></li>
                                            <li><a href="testimonials-carousel.html">Testimonials Carousel 01</a></li>
                                            <li><a href="testimonials-carousel-2.html">Testimonials Carousel 02</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="pricing.html">Pricing Plan</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" routerLinkActive="current">
                                <a href="#" >Shop </a>
                                <ul>
                                    <li class="dropdown" >
                                        <a href="#" >Products</a>
                                        <ul>
                                            <li><a href="products.html">No sidebar</a></li>
                                            <li><a href="products-left.html">Left sidebar</a></li>
                                            <li><a href="products-right.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="products-carousel.html">Products carousel</a></li>
                                    <li><a href="product-details.html">Product details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" routerLinkActive="current">
                                <a href="#" >Blog </a>
                                <ul>
                                    <li class="dropdown" >
                                        <a href="#" >Blog grid</a>
                                        <ul>
                                            <li><a href="blog-grid.html">No sidebar</a></li>
                                            <li><a href="blog-grid-left.html">Left sidebar</a></li>
                                            <li><a href="blog-grid-right.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" routerLinkActive="current">
                                        <a href="#" >Blog list</a>
                                        <ul>
                                            <li><a href="blog-list.html">No sidebar</a></li>
                                            <li><a href="blog-list-left.html">Left sidebar</a></li>
                                            <li><a href="blog-list-right.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-carousel.html">Blog carousel</a></li>
                                    <li class="dropdown" >
                                        <a href="#" >Blog details</a>
                                        <ul>
                                            <li><a href="blog-details.html">No sidebar</a></li>
                                            <li><a href="blog-details-left.html">Left sidebar</a></li>
                                            <li><a href="blog-details-right.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li >
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav><!-- /.main-header__nav -->
                    <a href="#" class="main-header__search search-toggler">
                        <span class="main-header__search__icon">
                            <i class="icon-search" aria-hidden="true"></i>
                            <span class="sr-only">Search</span>
                        </span>
                    </a><!-- /.main-header__search -->
                    <a href="login.html" class="main-header__user">
                        <span class="main-header__user__icon">
                            <i class="icon-user-2" aria-hidden="true"></i>
                            <span class="sr-only">User</span>
                        </span>
                    </a><!-- /.main-header__user -->
                    <a href="contact.html" class="insuba-btn insuba-btn--base main-header__btn">
                        <span>Get a Quote</span>
                        <span class="insuba-btn__icon-box">
                            <span class="insuba-btn__icon"><i class="fas fa-arrow-right"></i></span>
                        </span>
                    </a><!-- /.insuba-btn main-header__btn -->
                </div><!-- /.main-header__right -->
            </div><!-- /.main-header__inner -->
        </div><!-- /.container-fluid -->
    </header><!-- /.main-header -->
</div><!-- /.header -->