<p>claims-map works!</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <!-- Street view map -->
          <h4 class="mb-3 card-title">Street View Panoramas</h4>
          <p class="card-title-dsec">Example of google maps.</p>
          <div id="streetview-container">
            <div id="streetview-map" #streetviewMap></div>
            <div
              id="streetview-pano"
              #streetviewPano
              style="height: 500px"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-3 card-title">Location</h4>
          <p class="card-title-dsec">Example of google maps.</p>
          <div id="map" style="height: 500px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
