<div class="map-container">

    <div class="map-search-box" [class.active]="showSearch">
        <div class="search-container">
            <i class="fas fa-search search-icon" (click)="toggleSearch()"></i>

            <input #searchInput type="text" class="search-input" placeholder="Search address..."
                (input)="onSearchInput($event)" (click)="$event.stopPropagation()" />

            <div class="search-loading" *ngIf="isSearching">
                <i class="fas fa-spinner fa-spin"></i>
            </div>

            <div class="search-results">
                <div *ngFor="let result of searchResults" class="result-item" (click)="selectSearchResult(result)">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ result.address.freeformAddress || "Unknown location" }}
                </div>
            </div>

            <div class="search-error" *ngIf="searchError">
                <i class="fas fa-exclamation-triangle"></i>
                {{ searchError }}
            </div>
        </div>
    </div>
    <div #mapContainer class="map-container" style="height: 300px; width: 100%; border: 1px solid #ddd"></div>


    <button (click)="toggleSatelliteView()" class="satellite-toggle">
        <i *ngIf="!isSatelliteView" class="fas fa-satellite-dish"></i>
        <i *ngIf="isSatelliteView" class="fas fa-satellite-dish active"></i>
    </button>


</div>

<div *ngIf="selectedPosition" class="d-flex gap-4 justify-content-between" style="max-height: 3rem;" [@fancyAppear]>

    <div class="confirmation-message" [ngClass]="{'error':errorMessage!=='null'}">
        <i class="fas fa-check-circle me-2" ></i>
        <span *ngIf="chosedPosition">Position Chosen Successful</span>
        <span *ngIf="errorMessage!=='null'">{{errorMessage}}</span>
        <span *ngIf="!chosedPosition&&errorMessage==='null'"> {{'Position confirmed at' + (coordinates?.lng |
            number:'1.4-4') + ', ' + (coordinates?.lat | number:'1.4-4')}}</span>
    </div>


    <button type="button" class="primary-btn confirm-btn" (click)="reverseGeocode()">
        <i class="fas fa-check me-2"></i>Confirm Position
    </button>
</div>