<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Change password</h4>
          <ngb-alert type="danger" *ngIf="errormsg" [dismissible]="false">
            {{errormsg}}</ngb-alert>
          <form (ngSubmit)="savePassword()" [formGroup]="changePasswordForm">
            <div class="mb-3">
              <label for="formrow-current-password-input">Current Password</label>
              <input type="password" class="form-control" id="formrow-current-password-input"
                formControlName="currentPassword" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"
                placeholder="Enter Current Password" />
              <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentPassword.errors.required">Current Password required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="formrow-new-password-input">New Password</label>
              <input type="password" class="form-control" id="formrow-new-password-input" formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="Enter New Password" />
              <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New Password required</div>
                <div *ngIf="f.newPassword.errors.minLength">New Password must be between 8 and 20 characters</div>
                <div *ngIf="f.newPassword.errors.maxLength">New Password must be between 8 and 20 characters</div>
                <div *ngIf="f.newPassword.errors.pattern">New Password must contain at least one uppercase letter, one
                  lowercase letter, one digit, and one special character</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="formrow-confirm-password-input">Confirm Password</label>
              <input type="password" class="form-control" id="formrow-confirm-password-input"
                formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                placeholder="Enter Confirm Password" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password required</div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary w-md">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>