<div>
  <h2>Chat</h2>
  <div class="chat-box">
    <div *ngFor="let msg of messages" class="message" [ngClass]="msg.type">
      <span class="timestamp" *ngIf="msg.timestamp">
        [{{ msg.timestamp | date:'shortTime' }}]
      </span>
      <span class="label">{{ getLabel(msg.type) }}:</span>
      {{ msg.content }}
    </div>
  </div>
  <div class="input-area">
    <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Type your message...">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>