.bg-primary-lt {
    background-color: rgba(70, 127, 207, 0.1);
    color: #467fcf;
  }
  
  .bg-success-lt {
    background-color: rgba(50, 184, 89, 0.1);
    color: #32b859;
  }
  
  .btn-icon {
    padding: 0.375rem;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }