<app-preloader></app-preloader>

<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
    [style.background-image]="'url(assets/images/bg/page-bg.jpg)'">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!--=== Page Banner Content ===-->
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Offers</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a routerLink="/">Home</a></li>
                        <li class="active">Offers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Breadcrumb Section ======-->

<!--====== Start Portfolio Section ======-->
<section class="portfolio-section pt-120 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!--=== Section Title ===-->
                <div class="section-title mb-50" [@fadeInUp]>
                    <span class="sub-title">Offer</span>
                    <h2>Learn Our Popular Offers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="filter-button mb-60" [@fadeInDown]>
                    <ul class="filter-btn gap-2">
                        <li [class.active]="activeFilter === '*'" (click)="setFilter('*')">
                            Show All
                        </li>
                        <li *ngFor="let tag of tagsList " [class.active]="activeFilter === tag"
                            (click)="setFilter(tag)">
                            {{ tag | titlecase }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row portfolio-active justify-content-center">
            <div class="col-6" *ngFor="let item of filteredItems" [class]="item.classes">
                <div class="single-portfolio-item-two mb-30" [@dynamicAnimation]="item.animation">
                    <div class="img-holder">
                        <img [src]="item.imageUri" [alt]="item.name">
                    </div>
                    <div class="content">
                        <a href="#" class="cat-link">{{ item.category }}</a>
                        <h3 class="title ">{{ item.name }}</h3>
                        <a [routerLink]="['/offer-details', item.offerId]" class="btn-link no-underline">
                            More Details<i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Portfolio Section ======-->