<body class="custom-cursor" MainPageDirective >
  <!-- <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div> -->

  <!-- <div  class="custom-cursor__cursor"></div> -->
  <!-- <div class="custom-cursor__cursor-two"></div> -->
  <div appCustomCursor ></div>


  <!-- <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div> -->
  <!-- /.preloader -->
  <div class="page-wrapper">
    <app-header></app-header>

    <app-home></app-home>

    <app-footer></app-footer>
  </div>
  <!-- /.page-wrapper -->

  <div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <!-- /.search-popup__overlay -->
    <div class="search-popup__content">
      <form role="search" method="get" class="search-popup__form" action="#">
        <input type="text" id="search" placeholder="Search Here..." />
        <button
          type="submit"
          aria-label="search submit"
          class="insuba-btn insuba-btn--base"
        >
          <i class="icon-search"></i>
        </button>
      </form>
    </div>
    <!-- /.search-popup__content -->
  </div>
  <!-- /.search-popup -->

  <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
    <span class="scroll-to-top__text">back top</span>
    <span class="scroll-to-top__wrapper"
      ><span class="scroll-to-top__inner"></span
    ></span>
  </a>
</body>
