<app-preloader></app-preloader>

<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
    style="background-image: url(../../../assets/images/bg/page-bg.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!--=== Page Banner Content ===-->
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Insurance Services</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="">Home</a></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Breadcrumb Section ======-->
<!--====== Start Services Section  ======-->
<section class="services-section pt-120 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50 wow fadeInUp">
                    <span class="sub-title">Insurance Services</span>
                    <h2>We Offering Wide range of insurance options</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let category of categoriesData" class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-item text-center mb-30 wow fadeInUp">
                    <div class="content">
                        <div class="icon">
                            <img [src]="category.imageUri" alt="Icon" />
                        </div>
                        <h3 class="title">
                            <a href="">{{ category.name }}</a>
                        </h3>
                        <p>
                            {{ category.description }}
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Services Section  ======-->
<!--====== Start Features Section ======-->
<section class="features-section">
    <div class="features-image-box wow fadeInUp">
        <img src="assets/images/gallery/features-4.jpg" alt="features image" />
    </div>
    <div class="features-wrapper wow fadeInDown">
        <div class="container">
            <div class="features-inner-wrap pt-100 pb-60">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!--=== Single Features Item  ===-->
                        <div class="single-features-item-two mb-30">
                            <div class="features-inner-content">
                                <div class="icon">
                                    <img src="assets/images/icon/icon-21.png" alt="icon" />
                                </div>
                                <div class="content">
                                    <h4 class="title">Fast & Relabel</h4>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus
                                        blanditiis praesente voluptatum deleniti atque
                                    </p>
                                    <a href="#" class="btn-link">Learn More<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!--=== Single Features Item  ===-->
                        <div class="single-features-item-two mb-30">
                            <div class="features-inner-content">
                                <div class="icon">
                                    <img src="assets/images/icon/icon-22.png" alt="icon" />
                                </div>
                                <div class="content">
                                    <h4 class="title">Saving Money</h4>
                                    <p>
                                        Sed ut perspiciatis unde omnis natus error sit voluptatem
                                        accusa doloremque laudantium, totam rem aperiam
                                    </p>
                                    <a href="#" class="btn-link">Learn More<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!--=== Single Features Item  ===-->
                        <div class="single-features-item-two mb-30">
                            <div class="features-inner-content">
                                <div class="icon">
                                    <img src="assets/images/icon/icon-23.png" alt="icon" />
                                </div>
                                <div class="content">
                                    <h4 class="title">Dedicated Team</h4>
                                    <p>
                                        Ut enim minima veniam quis nostrum exercitationem ullam
                                        corpori laboriosam aliquid exea consequa inventore
                                    </p>
                                    <a href="#" class="btn-link">Learn More<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Features Section ======-->
<!--====== Start Consulting Section ======-->
<section class="consulting-section pt-130">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!--=== Features Image Box ===-->
                <div class="features-image-box mb-50 wow fadeInLeft">
                    <img src="assets/images/gallery/consulting-1.jpg" alt="Consulting Image" />
                </div>
            </div>
            <div class="col-lg-6">
                <!--=== Features Content Box ===-->
                <div class="features-content-box pl-lg-70 mb-50 wow fadeInRight">
                    <!--=== Section Title ===-->
                    <div class="section-title mb-30">
                        <span class="sub-title">Consultations</span>
                        <h2>Learn Insurance Solution With Our Professionals</h2>
                    </div>
                    <p class="para mb-50">
                        At vero eos et accusamus et iusto odio dignissimos ducimus
                        blanditiis praesentium voluptatum deleniti atque
                    </p>
                    <!--=== Single Progress Bar ===-->
                    <div class="single-progress-bar progress-style-two mb-50">
                        <div class="progress-title">
                            <h6>Client Satisfactions <span>80%</span></h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" style="width: 80%"></div>
                        </div>
                    </div>
                    <!--=== Single Phone Item ===-->
                    <div class="single-phone-item">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="info">
                            <span>Emergency Call</span>
                            <h3><a href="tel:+000(123)456889">+000 (123) 456 889</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Consulting Section ======-->
<!--====== Start CTA Section ======-->
<section class="cta-section cta_area-two pt-95 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <!--=== CTA Content Box ===-->
                <div class="cta_one-content-box mb-40 wow fadeInUp">
                    <h2>Find Your Insurance Agent! Say Hello</h2>
                    <a href="#" class="main-btn primary-btn">Track Claim<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <!--=== CTA Image ===-->
                <div class="cta_image-one float-xl-end p-r z-1 mb-40 wow fadeInDown">
                    <div class="shape">
                        <span><img src="assets/images/gallery/experience.png" alt="" /></span>
                    </div>
                    <img src="assets/images/gallery/cta-2.jpg" alt="CTA Image" />
                </div>
            </div>
        </div>
    </div>
    <!--=== Start Animate Headline ===-->
    <div class="animate-headline">
        <div class="headline-text">
            <div class="animate-text">
                <span class="text">Insurance Agent</span>
            </div>
        </div>
    </div>
    <!--=== End Animate Headline ===-->
</section>
<!--====== End CTA Section ======-->